<a href="https://colab.research.google.com/github/kauafernandesTec/PA_python/blob/main/Aula_PA_1C/Strings_e_Tuplas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Exercício 1 - Inserir seus dados em variáveis
nome = "Kaua Fernandes"
turma = "Manhã"
idade = 18
cidade = "São Paulo"

In [9]:
# Exercício 2 - Imprimir apenas o sobrenome usando slicing
print(nome[5::])

Fernandes

In [5]:
# Exercício 3 -  imprima seu nome de trás pra frente
print(nome[::-1])

sednanreF auaK

In [11]:
# Exercício 4 - pegue a frase abaixo, aplique o split para fazer uma quebra toda vez que encontrar uma ","
frase = "Python é a linguagem ideal para o primeiro contato com programação, além da sua sintaxe simples e muito poderosa, Python tem diversas aplicações como: desenvolvimento web, análise de dados, inteligência artificial e automatização de tarefas, neste curso você aprenderá a lógica de programação para conquistar fluência na linguagem, a comunidade Python é a que mais cresce, assim como sua demanda de profissionais no mercado."
print(frase.split(","))

['Python é a linguagem ideal para o primeiro contato com programação', ' além da sua sintaxe simples e muito poderosa', ' Python tem diversas aplicações como: desenvolvimento web', ' análise de dados', ' inteligência artificial e automatização de tarefas', ' neste curso você aprenderá a lógica de programação para conquistar fluência na linguagem', ' a comunidade Python é a que mais cresce', ' assim como sua demanda de profissionais no mercado.']

In [14]:
# Exercício 5 -Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.
numeros = list(range(1, 11))
print(numeros)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Exercício 6 - Crie uma lista de 5 objetos e imprima na tela
objetos = ["Caderno", "Caneta", "Celular", "Garrafa", "Mochila"]
print(objetos)

In [19]:
# Exercício 7 - - Crie duas strings e concatene as duas em uma terceira string
a = "Kauã "
b = "Fernandes"
c = a + b
print(c)

Kauã Fernandes

In [22]:
# Exercício 8 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla
tupla = (1, 2, 2, 3, 4, 4, 4, 5)

print(tupla.count(4))

3

In [23]:
# Exercício 9 - Crie um dicionário vazio e imprima na tela
dicionario = {"nome": "Kaua", "idade": 18, "cidade": "São Paulo"}
print(dicionario)

{'nome': 'Kaua', 'idade': 18, 'cidade': 'São Paulo'}

In [ ]:
# Exercício 10 - Criar dicionário com 3 chaves e 3 valores
dicionario = {
    "nome": "Kaua",
    "idade": 18,
    "cidade": "São Paulo"
}
print(dicionario)

In [ ]:
# Exercício 11 - Adicionar mais um elemento ao dicionário
dicionario["profissão"] = "Estudante"
print(dicionario)

In [ ]:
# Exercício 12 - Dicionário com lista como um dos valores
dicionario_lista = {
    "numeros": [10, 20],
    "curso": "Python",
    "ativo": True
}
print(dicionario_lista)

In [ ]:
# Exercício 13 - Lista com tipos diferentes
lista_mista = [
    "Texto",
    (1, 2),
    {"chave1": "valor1", "chave2": "valor2"},
    9.99
]
print(lista_mista)

In [ ]:
# Exercício 14 - Imprimir caracteres da posição 1 a 18
frase = 'Cientista de Dados é o profissional mais legal do século XXI'
print(frase[1:19])

In [ ]:
#MANIPULÇÃO DE STRINGS - # 1 - Usar len para imprimir o comprimento da string
x = "Hello World"
print(len(x))  # Resultado: 11

In [ ]:
# 2 - Obter o primeiro caractere da string txt
txt = "Hello World"
x = txt[0]
print(x)  # Resultado: H

In [ ]:
# 3 - Obter os caracteres do índice 2 ao índice 4
txt = "Hello World"
x = txt[2:5]
print(x)  # Resultado: llo

In [ ]:
# 4 - Converter o valor de txt para maiúsculas
txt = "Hello World"
txt = txt.upper()
print(txt)  # Resultado: HELLO WORLD

In [ ]:
# Contar quantas vezes aparece a palavra "de"
txt = "Eu gosto de vijar, tomar vinho, de estudar estudar programação, de estudar Pyhon"
print(txt.count("de"))  # Conta as ocorrências da substring "de"

In [24]:
# Separar a frase toda vez que encontrar uma vírgula
txt = "Eu gosto de vijar, tomar vinho, de estudar estudar programação, de estudar Pyhon"
print(txt.split(","))

['Eu gosto de vijar', ' tomar vinho', ' de estudar estudar programação', ' de estudar Pyhon']